

<div *ngIf="currentFile" class="progress">
    <div
      class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar"
      attr.aria-valuenow="{{ progress }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progress + '%' }"
    >
      {{ progress }}%
    </div>
  </div>
  
  <label class="btn btn-default">
    <input type="file" (change)="selectFile($event)" (change)="ReadExcel($event)" />
  </label>
  
  <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
    Upload
  </button>
  
  <div class="alert alert-light" role="alert">{{ message }}</div>
  
  <div class="card">
    <div class="card-header">List of Files</div>
    <ul
      class="list-group list-group-flush"
      *ngFor="let file of fileInfos | async"
    >
      <li class="list-group-item">
        <a href="{{ file.url }}">{{ file.name }} </a>
        <button (click)="downloadFile(file)">download</button>
      </li>
    </ul>
  </div>
  <div style="width: 50%; margin: 20%;">
    <h3 style="text-align: center;">Excel data in html table</h3>
    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">RollNo</th>
        <th scope="col">firstName</th>
        <th scope="col">sub</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ExcelData">
        <th scope="row">{{data.RollNo}}</th>
        <td>{{data.firstName}}</td>
        <td>{{data.sub}}</td>
      </tr>
    </tbody>
    </table>
    
  </div>

 

  